.pagination .span {
  width: 50px;
  border-radius: 20px;
  background: #3f51b5;
  text-align: center;
}
.pagination span {
  margin: auto;
  display: block;
  color: #fff;
  padding: 10px;
}
.pagination {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
}
.full-width{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.user-input{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px dotted #ddd;
}