<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-5 col-md-5 col-sm-5">
        <mat-toolbar class="toolbar">
          <mat-toolbar-row>
            <span>Select the tweet you want to analyze.</span>
            <i class="fa fa-chevron-down"></i>
          </mat-toolbar-row>
          <!-- <mat-toolbar-row>
            
          </mat-toolbar-row> -->
        </mat-toolbar>
        <div class="pagination">
            <button mat-raised-button (click)="navigate(-50)" [disabled]="info.pagination.index == 0">Prev</button>
            <div class="span"><span>{{info.pagination.index}}</span></div>
            <button mat-raised-button (click)="navigate(50)" color="accent" [disabled]="!(info.pagination.index < info.pagination.total)">Next</button>
          </div>
      <mat-list class="scr scrb">
        <mat-list-item *ngFor="let tweet of info.listTweets">
          <button [ngClass]="info.active == tweet ? 'mat-button done act':'mat-button'" (click)="selectTweet(tweet)" mat-button>
            <p matLine><i class="fa fa-done"></i>{{tweet['Tweet']}}</p>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-xs-12 col-lg-7 col-md-7 col-sm-7">
      <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <span>Analysis Results </span>
          <i class="fa fa-bar-chart"></i>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="main-content">
        <div class="user-input">
          <form #form (submit)="selectTweet()" class="full-width">
            <mat-form-field class="full-width">
              <textarea [(ngModel)]="info.userInput" name="userInput" matInput placeholder="Type a tweet:"></textarea>
              <button mat-button *ngIf="info.userInput" matSuffix mat-icon-button aria-label="Clear" (click)="info.userInput=''">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-button mat-raised-button color="warn" *ngIf="info.userInput !== ''">Ok</button>
            </mat-form-field>
          </form>
        </div>
        <app-mytree *ngIf="info.result && ok" [data]="info.result"></app-mytree>
      </div>
    </div>
  </div>
</div>

