<!-- <chart [options]="options" 
(load)="saveInstance($event.context)">
</chart> -->
<svg width="600" height="450" *ngIf="info.mode==1">
  <path class="link" d="M0,205C60,205 60,102.5 120,102.5" path="link" style="stroke: rgb(33, 150, 243); opacity: 1;"></path>
  <path class="link" d="M0,205C60,205 60,307.5 120,307.5" path="link" style="stroke: orange; opacity: 0.1;"></path>
  <g transform="translate(20,20)"></g>
  <g class="node" transform="translate(120,307.5)">
      <circle r="4.34332013130188" style="stroke: black; fill: orange; opacity: 0.1;"></circle>
      <text x="8.34332013130188" dy="-.60em" text-anchor="start" style="fill-opacity: 1; opacity: 0.1;">No War Violence</text>
  </g>
  <g class="node" transform="translate(120,102.5)">
      <circle r="15.65667986869812" style="stroke: black; fill: rgb(33, 150, 243); opacity: 1;"></circle>
      <text x="19.65667986869812" dy="-.60em" text-anchor="start" style="fill-opacity: 1; opacity: 1;">War Violence</text>
  </g>
  <g class="node" transform="translate(0,205)">
      <circle r="1" style="stroke: black; fill: rgb(33, 150, 243);"></circle>
      <text x="-5" dy="-.60em" text-anchor="end" style="fill-opacity: 1;"></text>
  </g>
</svg>
<svg width="600" height="450" *ngIf="info.mode!=1">
  <path class="link" d="M0,205C60,205 60,102.5 120,102.5" path="link" style="stroke: orange; opacity: 0.1;"></path>
  <path class="link" d="M0,205C60,205 60,307.5 120,307.5" path="link" style="stroke: rgb(33, 150, 243); opacity: 1;"></path>
  <g transform="translate(20,20)"></g>
  <g class="node" transform="translate(120,307.5)">
      <circle r="19.22643780708313" style="stroke: black; fill: rgb(33, 150, 243); opacity: 1;"></circle>
      <text x="23.22643780708313" dy="-.60em" text-anchor="start" style="fill-opacity: 1; opacity: 1;">No War Violence</text>
  </g>
  <g class="node" transform="translate(120,102.5)">
      <circle r="0.7735621929168701" style="stroke: black; fill: orange; opacity: 0.1;"></circle>
      <text x="4.77356219291687" dy="-.60em" text-anchor="start" style="fill-opacity: 1; opacity: 0.1;">War Violence</text>
  </g>
  <g class="node" transform="translate(0,205)">
      <circle r="1" style="stroke: black; fill: rgb(33, 150, 243);"></circle>
      <text x="-5" dy="-.60em" text-anchor="end" style="fill-opacity: 1;"></text>
  </g>
</svg>