<div class="container">
    <div class="row">
      <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
          <mat-toolbar class="toolbar">
            <mat-toolbar-row>
              <span>Select the image to analyze</span>
              <i class="fa fa-chevron-down"></i>
            </mat-toolbar-row>
          </mat-toolbar>
          <div class="list-wrap scrb">
            <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile
                *ngFor="let tile of info.imageURLs" 
                (click)="selectImage(tile)"
                  [colspan]="'2'"
                  [rowspan]="'2'"
                  [style.background]="'url('+tile.url+')'">
                <div [class]="info.active.a_id == tile.id?'active inner':'inner'">
                  <i class="fa fa-check"></i>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
      </div>
      <div class="col-xs-8 col-lg-8 col-md-8 col-sm-8">
        <mat-toolbar class="toolbar">
          <mat-toolbar-row>
            <span>Analysis Results </span>
            <i class="fa fa-bar-chart"></i>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="main-content">
          <div class="tree" *ngIf="info.status == 2">
            <app-mytree [data]="info.active.result"></app-mytree>
          </div>
          <!-- <button btn (click)="sl()">click me</button> -->
        </div>
      </div>
    </div>
  </div>
  
  