<div class="container">
  <div class="row">
    <div class="col-xs-5 col-lg-5 col-md-5 col-sm-5">
        <mat-toolbar class="toolbar">
          <mat-toolbar-row>
            <span>Select the tweet you want to analyze.</span>
            <i class="fa fa-chevron-down"></i>
          </mat-toolbar-row>
        </mat-toolbar>
      <mat-list class="scr scrb">
        <mat-list-item *ngFor="let word of info.data.listWords">
          <button [ngClass]="info.active == word ? 'mat-button done act':'mat-button'" (click)="selectWord(word)" mat-button>  
            <p matLine><i class="fa fa-done"></i>{{word}}</p>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-xs-7 col-lg-7 col-md-7 col-sm-7">
      <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <span>Nearest Neighbors</span>
          <i class="fa fa-arrows-alt"></i>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="main-content">
        <div class="head">
            <!-- <mat-form-field class="example-full-width">
              <input matInput name='word' [value]="info.active?info.active:''" placeholder="Leave a comment">
            </mat-form-field> -->
            <mat-form-field class="example-form-field">
              <input matInput type="text" placeholder="Word *" name='word' [(ngModel)]="info.active" disabled/>
              <button mat-button *ngIf="info.active" matSuffix mat-icon-button aria-label="Clear" (click)="info.active=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
        <div class="output" *ngIf="info.active != ''">
          <div class="output-row">
            <h4>Our Oyoty Embedding</h4>
            <h6>What neighbors we get?</h6>
            <mat-list>
              <mat-list-item *ngFor="let word of info.outputData.ourOyoty">
                <span>{{word}}</span>
              </mat-list-item>
              <mat-list-item *ngIf="info.outputData && info.outputData.glove.length == 0">
                  <p style="margin-left:20px; color:orangered">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Nothing
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </p>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="output-row">
              <h4>GloVe Embedding</h4>
              <h6>What existing embeddings get?</h6>
              <mat-list>
                <mat-list-item *ngFor="let wordg of info.outputData.glove">
                  <span>{{wordg}}</span>
                </mat-list-item>
                <mat-list-item *ngIf="info.outputData.glove.length == 0">
                    <p style="margin-left:20px; color:orangered">
                      <i class="fa fa-times-circle" aria-hidden="true"></i> Nothing
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </p>
                </mat-list-item>
              </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

