.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header mat-slider{
  width: 70%;
}
.header span {
  font-size: 24px;
  text-align: center;
  width: 10%;
}
.header .selecter{

  width: 20%;
}
.header .selecter label{
  transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 3px;
  padding-right: 0;
  z-index: 1;

  max-width: 100%;

}
.text-item::before {
  content: "■ ";
  font-size: 30px;
}
.animate-repeat {
  line-height: 30px;
  list-style: none;
  box-sizing: border-box;
}
.lonhon{
  color: rgb(103, 58, 183);
}
.nhohon{
  color: rgb(63, 81, 181);
}
