<div class="container" style="margin-top:30px;">
  <div *ngIf="info.isCalculating" class="loading-div">
    <img src="https://loading.io/spinners/gear-set/lg.triple-gears-loading-icon.gif" />
  </div>
  <div class="left-panel">
    <!-- <div layout="row" class="file-ctrl">
       <button class="mat-raised-button" color="warn" type="button" aria-label="remove all files" (click)="closeImg()">
            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            <span> Remove</span>
          </button> 
      <button class="mat-raised-button mat-primary mat-button mat-ink-ripple" color="primary" type="button" (click)="showImageUploadForm()">
        <i class="fa fa-folder-open-o fa-2x" aria-hidden="true"></i>
        <span> Browse</span>
      </button>
      <button mat-raised-button type="button" (click)="getRandomImage()">
        <span>Example</span>
        <i class="fa fa-cubes" aria-hidden="true"></i>
        <div class="mat-ripple-container"></div>
      </button>
    </div> -->
    <div layout="row" class="user-input border-dashed" style="width: 95%; margin-left:0px;margin-top: 20px;display:none">
      <form #form class="full-width">
        <mat-form-field class="full-width">
          <textarea [(ngModel)]="info.userInput" name="userInput" matInput placeholder="Type a text:"></textarea>
          <button mat-button *ngIf="info.userInput" matSuffix mat-icon-button aria-label="Clear" (click)="info.userInput=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <br/>
        <input type="file" file-model="pictureInput" (change)="fileChange($event)" accept="image/*" />
        <br/>
        <br/>
        <button mat-button mat-raised-button color="warn" (click)="uploadImage()">OK</button>
      </form>
    </div>
    <div layout="row">
      <h4>Example</h4>
      <ul class="sample-list">
        <li *ngFor="let item of sampleDatas">
          <a (click)="loadSample(item.sample.id)">
            <div class="post-container">
              <div class="post-thumb">
                <img src="{{item.sample.url}}" alt="" />
              </div>
              <div class="post-content">{{item.sample.text}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right-panel">


    <h2 style="font-size: 30px; font-weight: bold; color: gray">RESULT</h2>
    <div *ngIf="info.active.status==1 ">
      <div class="output ">
        <b>Text:</b> {{info.active.text}}
        <br/>
        <b>Image:</b>
        <br/>
        <div class="img-wrapper">
          <div *ngIf="info != undefined && info.active != undefined && info.active.status == 1" class="img-ctrl">
            <div class="ctrl">
              <button mat-icon-button color="primary" (click)="closeImg()">
                <mat-icon aria-label="cansel">cancel</mat-icon>
              </button>
            </div>
            <img [src]="info.active.imageURL" alt="" />
          </div>
        </div>
        <div style="clear:both"></div>
        <b>Emotion:</b>
        <div class="emotions row" style="clear:both">
          <div *ngFor="let option of info.options " style="width:252px;float: left;">
            <img width="32px" style="margin-left:107px;" [src]=" 'assets/emotions/'+option.principal.main+ '.gif' " [ngStyle]="{ 'opacity':option.principal.opacity}
        " alt=" ">
            <chart [options]="option.op " (load)="reload($event.context) "></chart>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
<!--  -->