<!-- <div class="container dashboard">
  <h3>Welcome to modemos!</h3>
  <div class="ld">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile class="item">
          <a routerLink="/emotions">{{'Multimodal Emotion Classifier \ud83d\ude18\ud83d\ude18'}}</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/hate">Hate Speech Classifier</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/annotation">Annotation</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/neighbors">Terms Nearby!</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/text-emotions">Text Emotions</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/text-filter">Text Filter</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/image-filter">Image Filter</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/violence">Violence</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/face-emotion">Face Emotion</a>
        </mat-grid-tile>
        <mat-grid-tile class="item">
          <a routerLink="/image">Safe Image</a>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
</div> -->
<!-- Terms Nearby! -->